.navbar-container{
    height:100px;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
}

.options-list{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:60%;
    list-style: none;
    font-family: "Roboto";
    font-weight: 600;
    font-size:20px;
}

.logo-image{
    height:80px;
    width:80px;
    border-radius:5px;
}

.download-btn{
    height:50px;
    width:120px;
    border-radius:8px;
    color:white;
    background-color: black;
    border-width:0px;
}